body.single .main p {
  margin-bottom: 1em;
}

.main > article {
	margin-bottom: 4em;
	clear: both;
}

.main article ul > li {
  list-style-type: disc;
}

.main article ol > li {
  list-style-type: decimal;
}

.main article ul,
.main article ol {
  padding-left: 1.5em;
}

.card-content .entry-title {
  margin: 0;
}

.card-content .entry-title a {
  color: black;
}

.card-title {
  z-index: 2;
}

.card-image {
  position: relative;
}

.card-image .entry-title a {
  color: white;
}

.card-image::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  pointer-events: none;
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.2) 70%, rgba(0, 0, 0, 0.4));
}

.entry-title-placeholder {
  opacity: 0.5;
}

header.entry-details .entry-author {
  padding-left: 0;
  font-size: 18px;
  vertical-align: middle;
  color: rgb(99, 99, 99);
  line-height: 24px;
}

.entry-avatar {
  display: block;
  float: left;
  margin-right: 1em;
}

body.single .main .entry-author p {
  margin-bottom: 0;
}

header.entry-details .entry-taxonomies {
  padding-right: 0;
}

.entry-taxonomies .chip {
  margin-left: 0.5em;
  margin-bottom: 0.5em;
}

.entry-taxonomies .chip .material-icons {
  vertical-align: -30%;
}

.entry-content {
	clear: both;
	word-wrap: break-word;
}

.entry-content .wp-caption,
.entry-content img, {
	max-width: 100%;
	height: auto;
}

article.page {
	margin-top: 4em;
}

.entry-comments {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  background-color: #F5F5F5;
  padding: 20px;
}

.entry-comments .submit {
  @extend .btn-flat;
}

.comments-count {
  font-size: 2rem;
}

/* NEWLINE */
