.site-header {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 4;

  background-color: $primary-color;

  @extend .z-depth-1;
}

.site-title {
  font-size: 20pt;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  position: absolute;
  top: 0;
}

.site-navigation > ul {
  display: block;
  white-space: nowrap;

  & > li {
	white-space: nowrap;

	display: inline-block;
	float: none;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .8px;

	& > a {
	  display: inline-block;
	  width: 100%;
	  height: 100%;
	}
  }
}

.site-navigation {
  position: relative;
}

.site-navigation,
.site-navigation > ul {
  margin-bottom: 0;
  background-color: inherit;
  box-shadow: none;
}

.site-navigation > ul {
  overflow-x: scroll;
  overflow-y: hidden;

  padding-left: 24px;
  padding-right: 24px;

  .material-icons {
    display: block;
    width: 24px;
    height: 100%;
  }
}

.site-navigation > ul,
.site-navigation > ul > li {
  margin-bottom: 0;
  background-color: inherit;
  box-shadow: none;
}

body.admin-bar .site-header {
  top: 32px;
}

.site-header.expand.expanded {
  height: initial;
  position: relative;
  top: 0;
}

.site-header.expand.expanded .site-title,
.site-header.expand.expanded .site-tagline {
  width: 100%;
}

.page-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  @extend h2;
}

.sidebar-trigger {
  color: white;
  position: absolute;
  top: 25%;
  transform: translateY(-50%);
  line-height: 100%;
}

@media only screen and (orientation: portrait) and (min-width: 841px), only screen and (orientation: landscape) and (min-width: 961px) {
  // TODO: Hide tabs if empty on mobile
  .site-header {
	height: 64px;
	padding: 0 0 0 24px;
  }

  .site-title {
	float: left;
	margin-right: 0;
	height: 64px;
	line-height: 64px;
  top: 0;
  left: 80px;
  }

  .sidebar-trigger {
    top: 50%;
    left: 24px;
  }

  .site-title,
  .page-title {
    width: 51.458980345%;
  }

  .site-navigation {
    height: 64px;
	width: 48.541019655%;
  }

  .site-navigation,
  .site-navigation > ul {
	float: right;
  }

  .site-navigation > ul {
	max-width: 100%;
  }

  .site-title,
  .site-tagline,
  .page-title {
	padding-right: 24px;
  }

  .site-header.expand.expanded {
	padding-bottom: 1.424rem;
  }

  .site-header.expand.expanded .page-title {
	width: 51.458980345%;
  }

  .site-header.expand.expanded .site-title {
	float: none;
  }

  .site-header.expand.expanded .site-navigation {
	position: absolute;
	bottom: 0;
	right: 0;
  }

  body {
	padding-top: 64px;
  }
}

@media only screen and (orientation: portrait) and (max-width: 840px), only screen and (orientation: landscape) and (max-width: 960px) {
  .site-header {
	padding: 0;
  }

  .site-title {
	width: 100%;
	padding-right: 16px;
  left: 72px;
  }

  .sidebar-trigger {
    left: 16px;
  }

  .site-title,
  .site-tagline {
	padding-left: 16px;
  }

  .site-navigation {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .site-navigation,
  .site-navigation > ul {
	width: 100%;
  }

  .site-navigation > ul {
    padding-left: 80px;
  }

  .site-navigation > ul > li:hover {
	background-color: transparent;
  }

  .site-header.expanded.expand .site-title {
	height: 56px;
	line-height: 56px;
  }

  body.empty-navigation header.site-header > .site-navigation {
    display: none;
  }

  body.empty-navigation header.site-header > a.sidebar-trigger {
    top: 50%;
  }
}

@media only screen and (orientation: portrait) and (max-width: 840px) {
  body {
    padding-top: 104px; // TODO: Variables
  }

  body.empty-navigation {
    padding-top: 56px;
  }

  .site-header {
	height: 104px;
  }

  body.empty-navigation header.site-header {
    height: 56px;
  }

  .site-title {
	height: 56px;
	line-height: 56px;
  }

  .site-navigation {
    height: 56px;
  }
}

@media only screen and (orientation: landscape) and (max-width: 960px) {
  body {
    padding-top: 96px;
  }

  body.empty-navigation {
    padding-top: 48px;
  }

  .site-header {
	height: 96px;
  }

  body.empty-navigation header.site-header {
    height: 48px;
  }

  .site-title {
	height: 48px;
	line-height: 48px;
  }

  body {
	padding-top: 112px;
  }
}

@media only screen and (max-width: 782px) {
  body.admin-bar .site-header {
	top: 0;
	position: sticky;
  }
}

body.expanded-header {
  padding-top: 0;
}

/* NEWLINE */
