.site-header {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 4;
  
  background-color: $primary-color;
  color: color( "shades", "black" );
  
  @extend .z-depth-4;
}

.site-title {
  font-size: 20pt;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
  
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
  a {
    color: color( "shades", "black" );
  }
}

.site-navigation,
.site-navigation .tabs {
  margin-bottom: 0;
  background-color: inherit;
  box-shadow: none;
  height: 48px;
}

  
.site-navigation,
.site-navigation .tabs,
.site-navigation .tabs li {
  width: initial;
}

.site-navigation .tabs li a,
.site-navigation .tabs li a:hover {
  color: color( "shades", "black" );
}

.site-navigation .tabs li.current-menu-item a,
.site-navigation .tabs li.current-menu-item a:active {
  background-color: inherit;
  color: $secondary-color;
  border-bottom: 2px solid $secondary-color;
}

body.admin-bar .site-header {
  top: 32px;
}

@media only screen and (orientation: portrait) and (min-width: 841px), only screen and (orientation: landscape) and (min-width: 961px) {
  .site-header {
    height: 64px;
    padding: 0 24px 0 24px;
  }
  
  .site-title {
    float: left;
    width: 60%;
    margin-right: 0;
    height: 64px;
    line-height: 64px;
  }
  
  .site-navigation {
    float: right;
  }
  
  .site-navigation,
  .site-navigation .tabs,
  .site-navigation .tabs li {
    height: 100%;
  }
  
  .site-navigation .tabs li {
    line-height: 64px;
  }
  
  .site-header.expand.expanded {
    height: initial;
    position: relative;
    top: 0;
    padding-bottom: 1.424rem;
  }
  
  .site-header.expand.expanded .site-title,
  .site-header.expand.expanded .site-tagline {
    width: 100%;
  }
  
  .site-header.expand.expanded .page-title {
    width: 60%;
  }
  
  .site-header.expand.expanded .site-title {
    float: none;
  }
  
  .site-header.expand.expanded .site-navigation,
  .site-header.expand.expanded .site-navigation .tabs,
  .site-header.expand.expanded .site-navigation .tabs li {
    height: 64px;
  }
  
  .site-header.expand.expanded .site-navigation {
    position: absolute;
    right: 16px;
    bottom: 0;
  }
}

@media only screen and (orientation: portrait) and (max-width: 840px), only screen and (orientation: landscape) and (max-width: 960px) {
  .site-header {
    padding: 0 0 0 16px;
  }
  
  .site-title {
    width: 100%;
    padding-right: 16px;
  }
  
  .site-navigation {
    height: 48px;
  }
  
  .site-navigation .tabs li {
    line-height: 48px;
  }
}

@media only screen and (orientation: portrait) and (max-width: 840px) {
  .site-header {
    height: 104px;
  }
  
  .site-title {
    height: 56px;
    line-height: 56px;
  }
}

@media only screen and (orientation: landscape) and (max-width: 960px) {
  .site-header {
    height: 96px;
  }
  
  .site-title {
    height: 48px;
    line-height: 48px;
  }
}

/* NEWLINE */