.entry-content img {
  display: block;
}

.entry-content .wp-caption .wp-caption-text,
.gallery-caption {
  background-color: #E0E0E0;
  color: rgba(0, 0, 0, 0.54);
  width: 100%;
  padding: 16px;

  a {
    color: rgba(0, 0, 0, 0.4);
  }
}

.entry-content .wp-caption img {
  width: 100%;
}

.alignleft, .alignright, .aligncenter {
  margin-bottom: 1rem;
}

.alignleft {
  float: left;
  margin-right: 1em;
}

.alignright {
  float: right;
  margin-left: 1em;
}

.aligncenter {
  margin: 1rem auto 1rem auto;
}

.entry-content .gallery .gallery-item {
  float: none !important; // TODO: Refactor these "!important"s
  margin-top: 0 !important;
  margin-bottom: 10px;

  img {
    border: none !important;
  }
}
