.cellulose-pagination {
  position: relative;
  width: 100%;

  .pagination-link .btn-floating {
    margin-right: 0.5em;
  }

  .paginaton-link {
    vertical-align: middle;
  }

  .pagination-link:first-child {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    float: left;
  }
  .pagination-link:last-child {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    float: right;
  }
}
.cellulose-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cellulose-pagination .card-panel {
  width: auto;
}

@media only screen and (orientation: portrait) and (max-width: 840px), only screen and (orientation: landscape) and (max-width: 960px) {
  .cellulose-pagination .pagination-link span {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
}
