#cellulose-sidebar {
  font-size: 14px;
  font-weight: 500;
  transition: left 0.3s ease;
}

#cellulose-sidebar > aside {
  padding: 0 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);

  &:last-child {
    border-bottom-width: 0;
  }
}

#cellulose-sidebar > aside > h5 {
  color: rgba(0, 0, 0, 0.54);
  font-weight: normal;
  font-size: 16px;
}

#cellulose-sidebar a {
  height: auto;
  line-height: 1.5em;
  padding: 0.5em 0;
}

#cellulose-sidebar li:hover {
  background-color: $sidenav-bg-color;
}

#cellulose-sidebar a:hover {
  color: $secondary-color;
}

a#sidenav-overlay {
  display: none;
  opacity: 0;
  cursor: default;
}

#cellulose-sidebar:target {
  left: 0;

  & + a#sidenav-overlay {
    display: block;
    opacity: 1;
  }
}

// TODO: Hide sidebar button when empty
